@import '_variables';
@import 'home';
@import 'partials';
@import 'news';
@import 'menu';
@import 'feedback';
@import 'recruitment';

*{
  box-sizing: inherit;
}

html{
  font-size: 20px;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1{
  font-size: 2rem;
}
