.feedback{
    min-height: 500px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.feedback__form{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;

}

.feedback__form-group{
    margin: 20px 0;
}

.feedback__form-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback__form-textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.feedback__form-group-btn{
    text-align: right; // Add this line
}

.feedback__form-btn{
    margin-top: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}
