@import '_variables';
// Header
.header{
    display: flex;
    background-color: $general-color;
}

.header__item-logo{
    width: 100px;
}

.header__item{
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.header__item-link{
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

// Footer
.footer{
    border-top: 1px solid #000;
}

.footer__box{
    margin-top: 18px;
}

.footer__box-title{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.footer__box-contact-link a{
    margin-right: 8px;
    color: #000;
    font-size: 32px;
    text-decoration: none;
}

.footer__box-contact-link a:hover{
    text-decoration: none;
}


.footer__box-input p{
    font-weight: 500;
}

.footer__box-input-form{
    margin-top: 8px;
}

.footer__box-input-form-input{
    height: 40px;
    width: 70%;
    padding-left: 16px;
}

.footer__box-input-form-btn{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 20%;
}

.footer__box-input-form span{
    font-size: 16px;
    opacity: 0.7;
}
// footer__infomation
.footer__infomation{
    margin-top: 20px;
    background-color: black;
    padding: 40px 0;    
}

.footer__infomation p{
    color: white;
    font-size: 16px;
    margin: 4px;
}