<div class="news container">
    <div class="row">
        <div class="col-xl-12">
            <div class="news__blog">
                <img src="/img/trunka_item_1.jpg" alt="Hình ảnh của bài viết" class="new__blog-img h-100">
                <div class="news__blog-inf">
                    <h5 class="news__blog-title">Trà Ô long hoa quả nhiệt đới sắp cập bến rồi cả nhà ơi!!!</h5>
                    <p class="news__blog-des">Mô tả trà ô long hoa quả</p>
                </div>
                <a href="news/detail" class="news__blog-link"> 
                    Xem thêm
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="news__blog">
                <img src="/img/trunka_item_1.jpg" alt="Hình ảnh của bài viết" class="news__blog-img h-100">
                <div class="news__blog-inf">
                    <h5 class="news__blog-title">Trà Ô long hoa quả nhiệt đới sắp cập bến rồi cả nhà ơi!!!</h5>
                    <p class="news__blog-des">Mô tả trà ô long hoa quả</p>
                </div>
                <a href="news/detail" class="news__blog-link">
                    Xem thêm
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="news__blog">
                <img src="/img/trunka_item_1.jpg" alt="Hình ảnh của bài viết" class="news__blog-img h-100">
                <div class="news__blog-inf">
                    <h5 class="news__blog-title">Trà Ô long hoa quả nhiệt đới sắp cập bến rồi cả nhà ơi!!!</h5>
                    <p class="news__blog-des">Mô tả trà ô long hoa quả</p>
                </div>
                <a href="news/detail" class="news__blog-link">
                    Xem thêm
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="news__blog">
                <img src="/img/trunka_item_1.jpg" alt="Hình ảnh của bài viết" class="news__blog-img h-100">
                <div class="news__blog-inf">
                    <h5 class="news__blog-title">Trà Ô long hoa quả nhiệt đới sắp cập bến rồi cả nhà ơi!!!</h5>
                    <p class="news__blog-des">Mô tả trà ô long hoa quả</p>
                </div>
                <a href="news/detail" class="news__blog-link">
                    Xem thêm
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>