<div class="news-detail container">
    <a href="/news" class="news-detail__back">
        <i class="fa-solid fa-arrow-left"></i>
        Quay trở lại
    </a>
    <h3 class="news-detail__title">Trà Ô long hoa quả nhiệt đới sắp cập bến rồi cả nhà ơi!!!</h3>
    <img src="/img/trunka_item_1.jpg" alt="Hình ảnh minh họa" class="news-detail__img">
    <p class="news-detail__paragraph">
        Trà ô long hoa quả nhiệt đới là một sự kết hợp tinh tế giữa hương vị đặc trưng của trà ô long 
        và hương thơm ngọt ngào của các loại hoa quả nhiệt đới. Sự pha trộn này tạo ra một trải nghiệm 
        thưởng thức đầy mới mẻ và độc đáo, mang lại cảm giác sảng khoái và thư giãn cho người thưởng thức.
        <br>
        Với hương vị tinh tế của trà ô long, được tạo ra từ lá trà đặc biệt được lên men một cách tỉ mỉ,
        kết hợp với hương thơm đặc trưng của hoa quả nhiệt đới như xoài, dừa, lê, cam... Trà ô long hoa quả 
        nhiệt đới mang đến một hương vị dịu dàng, nhẹ nhàng, vừa đắng vừa ngọt, với một chút chua nhẹ,
        tạo ra một cảm giác hài hòa và thư thái cho vị giác.
        <br>
        Đây là một lựa chọn tuyệt vời cho những ai muốn khám phá hương vị mới lạ và độc đáo của trà
        , đồng thời cảm nhận sự phong phú và tươi mới từ thế giới của hoa quả nhiệt đới.
    </p>
</div>