<div class="menu-item container">
    <div class="row">
        <div class="col-xl-6 menu-item__img">
            <img src="{{product.img}}" alt class="w-100">
        </div>
        <div class="col-xl-6 menu-item__inf">
            <h4 class="menu-item__inf-title">{{product.name}}</h4>
            <p class="menu-item__inf-price">{{product.price}} đ</p>
            <span class="menu-item__inf-topping-title">Thêm topping:</span>
            <div class="menu-item__inf-topping">
                <button class="menu-item__inf-topping-btn">
                    Trân châu trắng
                    <br>
                    <span class="menu-item__inf-topping-price">5.000 đ</span>
                </button>
                <button class="menu-item__inf-topping-btn">
                    Nha đam
                    <br>
                    <span class="menu-item__inf-topping-price">5.000 đ</span>
                </button>
                <button class="menu-item__inf-topping-btn">
                    Trân châu đen
                    <br>
                    <span class="menu-item__inf-topping-price">5.000 đ</span>
                </button>
            </div>
            <div class="menu-item__inf-des">
                {{product.description}}
            </div>
            <div class="menu-item__inf-btn">
                <button class="menu-item__inf-btn-click">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Thêm vào giỏ hàng
                </button>
                <button class="menu-item__inf-btn-click buy-now">
                    <i class="fa-solid fa-money-bill"></i>
                    Mua ngay
                </button>
            </div>
        </div>
    </div>
</div>