<div class="menu container">
    <h3 class="menu__title">Hôm nay Trunka có gì?</h3>
    <div class="row menu__box">
        <div class="col-xl-3 menu__nav">
            <ul class="menu__nav-list">
                Các loại đồ uống:
                <li class="menu__nav-item">
                    <a href="#1" class="menu__nav-item-link">Trà nướng</a>
                </li>
                <li class="menu__nav-item">
                    <a href="#2" class="menu__nav-item-link">Trà sữa</a>
                </li>
                <li class="menu__nav-item">
                    <a href="#3" class="menu__nav-item-link">Cafe</a>
                </li>
                <li class="menu__nav-item">
                    <a href="" class="menu__nav-item-link">Trà nướng</a>
                </li> 
            </ul>
        </div>
        <div class="col-xl-9 menu__main">
            <h3 id="1" class="menu__main-class-title">Trà nướng</h3>
            <br>
            <div class="row menu__main-class">
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
            </div>
            <h3 id="2" class="menu__main-class-title">Trà sữa</h3>
            <br>
            <div class="row menu__main-class">
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
            </div>
            <h3 id="3" class="menu__main-class-title">Cafe</h3>
            <br>
            <div class="row menu__main-class">
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
                <div class="col-xl-4 menu__main-item">
                    <a href="/menu/item">
                        <img src="/img/trunka_item_1.jpg" alt="Hình ảnh sản phẩm minh họa" class="menu__main-item-img w-100">
                        <h5 class="menu__main-item-title">Trà chanh nướng</h5>
                        <p class="menu__main-item-price">50.000đ</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>