<div class="menu-item container">
    <div class="row">
        <div class="col-xl-6 menu-item__img">
            <img src="/img/trunka_item_1.jpg" alt class="w-100">
        </div>
        <div class="col-xl-6 menu-item__inf">
            <h4 class="menu-item__inf-title">Trà chanh nướng</h4>
            <p class="menu-item__inf-price">50.000 đ</p>
            <span class="menu-item__inf-topping-title">Thêm topping:</span>
            <div class="menu-item__inf-topping">
                <button class="menu-item__inf-topping-btn">
                    Trân châu trắng
                    <br>
                    <span class="menu-item__inf-topping-price">5.000 đ</span>
                </button>
                <button class="menu-item__inf-topping-btn">
                    Nha đam
                    <br>
                    <span class="menu-item__inf-topping-price">5.000 đ</span>
                </button>
                <button class="menu-item__inf-topping-btn">
                    Trân châu đen
                    <br>
                    <span class="menu-item__inf-topping-price">5.000 đ</span>
                </button>
            </div>
            <div class="menu-item__inf-des">
                Món trà chanh nướng là một sự kết hợp tinh tế giữa hương vị tươi mát của trà chanh
                và một loại sốt nướng đặc biệt, tạo nên một trải nghiệm thưởng thức độc đáo và đầy hấp dẫn. 
                Hương vị của trà chanh thanh mát hòa quyện với hương thơm và vị ngọt của sốt nướng, 
                tạo ra một hương vị cân bằng, phong phú và hấp dẫn. Món trà này thường được phục vụ với đá 
                và lát chanh để tăng thêm hương vị tươi mát và sảng khoái. Đó là một lựa chọn tuyệt vời 
                cho những người muốn thưởng thức một loại đồ uống mới mẻ và đầy sáng tạo.
            </div>
        </div>
    </div>
</div>