<ul class="nav admin__header">
  <li class="nav-item admin__header-item">
    <a class="nav-link active" href="/admin">Trang chủ</a>
  </li>
  <li class="nav-item admin__header-item">
    <a class="nav-link" href="/admin/menu">Thực đơn</a>
  </li>
  <li class="nav-item admin__header-item">
    <a class="nav-link" href="/admin/user">Tài khoản</a>
  </li>
  <li class="nav-item admin__header-item">
    <a class="nav-link" href="#">Bảng tin</a>
  </li>
  <li class="nav-item admin__header-item">
    <a class="nav-link" href="#">Tuyển dụng</a>
  </li>
  <li class="nav-item admin__header-item">
    <a class="nav-link " href="#">Phản hồi của khách hàng</a>
  </li>
</ul>