<div class="footer mt-3">
    <div class="footer__box container">
        <div class="row">
            <div class="col-xl-6 footer__box-contact">
                <h4 class="footer__box-title">Kênh kết nối</h4>
                <div class="footer__box-contact-link">
                    <a href="https://www.facebook.com/TrunkaTiemTraChanh" class="">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a href="" class="">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                    <a href="" class="">
                        <i class="fa-brands fa-square-whatsapp"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 footer__box-input">
                <h4 class="footer__box-title">Luôn cập nhật</h4>
                <p>Về các tin tức đó đây, các sản phẩm mới</p>
                <form action="" class="footer__box-input-form">
                    <input type="text" class="footer__box-input-form-input" placeholder="Nhập email của bạn" required>
                    <button class="footer__box-input-form-btn">Gửi</button>
                    <span>Chúng tôi tôn trọng quyền riêng tư của bạn</span>
                </form>
            </div>
        </div>
    </div>
    <div class="footer__infomation">
        <div class="container">
            <p>Công ty TNHH Trunka - Trà chanh nướng</p>
            <p>Mã số DN: 0106696845 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp ngày 21/11/2014</p>
            <p>Địa chỉ: B12 BT1 Khu đô thị Văn Quán - Văn Quán - Hà Đông - Hà Nội - Số điện thoại: <a href="tel:+84 243 733 9966">+84 243 733 9966</a> - Email: <a href="mailto:trunkatiemtrachanh@gmail.com">trunkatiemtrachanh@gmail.com</a></p>
            <p>©2017 - 2024 CÔNG TY TNHH Trunka - Trà chanh nướng - Mọi quyền được bảo lưu</p>
        </div>
    </div>
</div>