<div class="header">
  <ul class="al nav justify-content-center mb-3">
    <li class="nav-item header__item">
      <a class="nav-link header__item-link" href="/news">Bảng tin</a>
    </li>
    <li class="nav-item header__item">
      <a class="nav-link header__item-link" href="/menu">Thực đơn</a>
    </li>
    <li class="nav-item header__item">
      <a class="nav-link" href="/">
        <img src="/img/logo.jpg" alt="" class=" nav-item header__item-logo">  
      </a>
    </li>
    <li class="nav-item header__item">
      <a class="nav-link header__item-link" href="/recruitment">Tuyển dụng</a>
    </li>
    <li class="nav-item header__item">
      <a class="nav-link header__item-link" href="/feedback">Phản hồi</a>
    </li>
  </ul>
  <div class="header__user">
    <div class="header__user-item header__user-cart">
      <a href="">
        (1)
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
    <div class="header__user-item header__user-infor">
      <a href="">
        <i class="fa-solid fa-circle-user"></i> 
      </a>
    </div>
  </div>
</div>