<ul class="al nav justify-content-center header mb-3">
  <li class="nav-item header__item">
    <a class="nav-link header__item-link" href="/news">Bảng tin</a>
  </li>
  <li class="nav-item header__item">
    <a class="nav-link header__item-link" href="/menu">Thực đơn</a>
  </li>
  <li class="nav-item header__item">
    <a class="nav-link" href="/">
      <img src="/img/logo.jpg" alt="" class=" nav-item header__item-logo">  
    </a>
  </li>
  <li class="nav-item header__item">
    <a class="nav-link header__item-link" href="/recruitment">Tuyển dụng</a>
  </li>
  <li class="nav-item header__item">
    <a class="nav-link header__item-link" href="/feedback">Phản hồi</a>
  </li>
</ul>