<div class="recruitment-detail container">
    <a href="/recruitment" class="recruitment-detail__back">
        <i class="fa-solid fa-arrow-left"></i>
        Quay trở lại
    </a>
    <h3 class="recruitment-detail__title">Trunka tuyển dụng nhân viên phục vụ</h3>
    <img src="/img/trunka_item_2.jpg" alt="Hình ảnh minh họa" class="recruitment-detail__img">
    <div class="recruitment-detail__info">
        <div class="recruitment-detail__standard">
            <p class="recruitment-detail__standard-title">
                Thời gian làm việc:
                <span class="recruitment-detail__standard-content">Từ 18h30 - 23h30 các ngày từ thứ 2 đến CN (có thể sắp xếp lịch nghỉ theo lịch học)</span>
            </p>
        </div>
        <div class="recruitment-detail__standard">
            <p class="recruitment-detail__standard-title">
                Địa điểm làm việc:
                <span class="recruitment-detail__standard-content">Trunka cơ sở 2 - B12 BT1 Khu đô thị Văn Quán - Văn Quán - Hà Đông - Hà Nội</span>
            </p>
        </div>
        <div class="recruitment-detail__standard">
            <p class="recruitment-detail__standard-title">
                Mức lương:
                <span class="recruitment-detail__standard-content">Từ 2.000.000đ đến 5.000.000đ trên tháng</span>
            </p>
        </div>
        <div class="recruitment-detail__standard">
            <p class="recruitment-detail__standard-title">
                Mô tả công việc:
            </p>
            <ul class="recruitment-detail__standard-list">
                <li>Tiếp đón và phục vụ khách hàng với thái độ niềm nở và thân thiện.</li>
                <li>Tư vấn và giới thiệu các sản phẩm trà chanh và đồ uống khác theo nhu cầu và sở thích của khách hàng.</li>
                <li>Chuẩn bị và phục vụ các loại trà chanh và đồ uống theo tiêu chuẩn của quán.</li>
                <li>Duy trì sạch sẽ và gọn gàng cho không gian làm việc và khu vực phục vụ.</li>
                <li>Thực hiện các công việc phụ trợ khác như thu ngân, lập hóa đơn và xử lý thanh toán.</li>
            </ul>
        </div>
        <div class="recruitment-detail__standard">
            <p class="recruitment-detail__standard-title">
                Yêu cầu công việc:
            </p>
            <ul class="recruitment-detail__standard-list">
                <li>Có kinh nghiệm làm việc trong ngành dịch vụ hoặc quán ăn uống là một lợi thế.</li>
                <li>Kỹ năng giao tiếp tốt và khả năng làm việc nhóm.</li>
                <li>Nhiệt tình, trách nhiệm và có thái độ làm việc chăm chỉ.</li>
                <li>Sẵn lòng làm việc trong các ca làm việc linh hoạt, bao gồm cả cuối tuần và ngày lễ.</li>
            </ul>
        </div>
    </div>
    
    <div class="recruitment-detail__contact">
        <p class="recruitment-detail__contact-title">Thông tin liên hệ:</p>
        <p class="recruitment-detail__standard-title">
                Hòm thư:
                <span class="recruitment-detail__standard-content">trunkatiemtrachanh@gmail.com</span>
        </p>
        <p class="recruitment-detail__standard-title">
                Đường dây nóng:
                <span class="recruitment-detail__standard-content">0243 733 9966</span>
        </p>
        <p class="recruitment-detail__standard-title">
                Thời hạn ứng tuyển:
                <span class="recruitment-detail__standard-content">Đến ngày 25/02/2025</span>
        </p>
    </div>
</div>