<div class="recruitment container">
    <div class="row">
        <div class="col-xl-12">
            <div class="recruitment__blog">
                <img src="/img/trunka_item_2.jpg" alt="Hình ảnh của bài viết" class="recruitment__blog-img h-100">
                <div class="recruitment__blog-inf">
                    <h5 class="recruitment__blog-title">Trunka tuyển dụng nhân viên phục vụ</h5>
                    <p class="recruitment__blog-des">Mô tả thông tin</p>
                </div>
                <a href="recruitment/detail" class="recruitment__blog-link"> 
                    Xem thêm
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>